.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absolutePositionCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 1rem 4rem rgba($color-black, .2);
        border-radius: .3rem;
        display: table;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
    }

    &__left {
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

    }
    
    &__img {
        width: 100%;
        display: block;
    }
    
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        
        // Use autoprefixer for this properties
        // They're still new and shiny :)
        columns: 2;
        column-gap: 4rem; // default is 1em and 1em is the font-size of the current element which is 1.4rem (14px)
        column-rule: 1px solid $color-grey-light-2;

        hyphens: auto;

        @include respond(tab-port) {
            columns: 1;
        }
    }

    // Modal open state
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    // Modal close functionality
    &__close {
        &:link,
        &:visited {
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            text-decoration: none;
            color: $color-dark-grey;
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
        }

        &:hover {
            color: $primary-color;
        }
    }
}