/*
    Normalize browser defaults
    (padding, margin & box-sizing)
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 
    Not a typography,
    but a base definition on how we size our
    entire page in rems (=1rems)

    it is calculated by dividing 10px (which is what we want our default size to be)
    by 16px (which is by default 100%)

    (10 / 16) = .625 which translates to 62.5%;

    We're using the percentage so as not prevent our user
    front changing the size of the page manually especially by zooming.

    MEDIA QUERY ORDER: Base > Typography > Layout > Grid > Page > Component
*/
html {
    font-size: 62.5%; // 1rem = 10px ----> 10/16 = 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px ----> 9/16 = 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px ----> 8/16 = 50%;
    }

    // Similar to tab-port so it's unnecessary
    // @include respond(mobile) {
    //     font-size: 50%; // 1rem = 8px ----> 8/16 = 50%;
    // }

    @include respond(large-desktop) {
        font-size: 75%; // 1rem =12px ----> 12/16 = 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
