.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-color-light, .8),
        rgba($primary-color-dark, .8)),
        url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;


    & > * {
        transform: skewY(7deg);
    }

    /* Below is a version of the skew following the example in
     * the header section and getting rid of the skew to the direct
     * child.
     */
    // clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    // margin-top: -18rem;
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
        $primary-color-light,
        $primary-color-dark
    );
}

.booking {
    background-image: url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 50rem;
}